body {
  background-size: cover;
  font-family: "arial", Times, serif;
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 10;
  max-width: 100%;
}
.icon {
  color: rgb(27, 193, 223);
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 30%;
  padding: 0px;
}

.column img {
  margin-top: 2px;
  margin-left: 60px;
  vertical-align: auto;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
